---
const title = 'About us';
const heading = 'Bring your events to life like never before with our VR services.';
const subtext = 'VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways, and experience events in a whole new light.';
const listItems = ['Cutting-Edge Technology', 'Versatile Applications', 'Affordable and Accessible'];
const buttonText = 'Read More';
const mainImage = '/vr/images/about/main.png';
const videoImage = '/vr/images/about/video.png';
---

<section class="about section">
    <div class="_container">
        <div class="about__content">
            <div class="about__left bg-element _scr-item _fade-right" data-duration="1s" data-delay="0">
                <img class="about__image lazyload" data-src={mainImage} alt="Main image">
                <noscript>
                    <img class="about__image" src={mainImage} alt="Main image">
                </noscript>
                <span></span>
                <div class="about__video video">
                    <div>
                        <img class="lazyload" data-src={videoImage} alt="Video">
                        <noscript>
                            <img src={videoImage} alt="Video">
                        </noscript>
                    </div>
                </div>
            </div>
            <div class="about__right _scr-item _fade-left" data-duration="1s" data-delay="0" data-offset="300">
                <div class="about__text">
                    <h4 class="h4-linear">{title}</h4>
                    <h2>{heading}</h2>
                    <p>{subtext}</p>
                    <ul class="_scr-item _fade-up" data-duration=".6s" data-delay="0" data-offset="100">
                        {
                            listItems.map((item) => (
                                <li>{item}</li>
                            ))
                        }
                    </ul>
                </div>
                <button class="about__button main-button _scr-item _fade-up" data-duration=".6s" data-delay="0" data-offset="50">{buttonText}</button>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @import '../../styles/vr/vars';

	.about {
		// .about__content
		&__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @include adaptiv-value("gap", 80, 10, 1);
            @media (max-width:$md2+px){
                gap: 40px;
            }
            @media (max-width:$md3+px){
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;
            }
		}
		// .about__left
		&__left {
            flex: 0 1 50%;
            position: relative;
            padding-bottom: 8px;
            padding-left: 24px;
		}
		// .about__image
		&__image {
            position: relative;
            z-index: 1;
		}
		// .about__video
		&__video {
            position: absolute;
            bottom: -15px;
            right: 30px;
            z-index: 2;
            @media (max-width:$md3+px){
                right: 0;
            }
            @media (max-width:$md4+px){
                width: 147.39px;
                height: 96.21px;
            }
		}
		// .about__right
		&__right {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            //max-width: 577px;
		}
		// .about__text
		&__text {
            h2 {
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 24px;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 14px;
                li {
                    padding-left: 28px;
                    background: url('/vr/icons/check.svg') left center / 16px 16px no-repeat;
                }
            }
		}
		// .about__button
		&__button {
		}
    }
</style>