---
import { dots } from '../../js/surf/dots';
---
<div class="map">
    <div class="map__content">
        <img class="lazyload" data-src="/surf/icons/map.svg" alt="Map">
        <noscript>
            <img src="/surf/icons/map.svg" alt="Map">
        </noscript>
        {dots.map(dot => (
            <div class={`map__dot-box ${dot.id}`} style={`top: ${dot.top}%; left: ${dot.left}%;`}>
                <div class="map__dot"></div>
                <div class="map__dot-content">
                    <a class="map__info" href={dot.href}>
                        <div class="map__info-title">
                            <p>{dot.title}</p>
                            <span></span>
                            <div>{dot.country}</div>
                        </div>
                        <button>
                            <svg>
                                <use xlink:href="/surf/icons/icons.svg#arrow"></use>
                                <title>More info</title>
                            </svg>
                        </button>
                    </a>
                    <div class="map__weather-box">
                        <div class="map__weather-item">
                            <img class="lazyload" data-src="/surf/images/surf/surf.svg" alt="Surf" title="Surf" />
                            <noscript>
                                <img src="/surf/images/surf/surf.svg" alt="Surf" />
                            </noscript>
                            <div>{dot.surf}</div>
                            <p>Surf (FT)</p>
                        </div>
                        <div class="map__weather-item">
                            <img class="lazyload" data-src="/surf/images/surf/water.svg" alt="Tide" title="Tide" />
                            <noscript>
                                <img src="/surf/images/surf/water.svg" alt="Tide" />
                            </noscript>
                            <div>{dot.tide}</div>
                            <p>Tide (FT)</p>
                        </div>
                        <div class="map__weather-item">
                            <img class="lazyload" data-src="/surf/images/surf/wind.svg" alt="Wind" title="Wind" />
                            <noscript>
                                <img src="/surf/images/surf/wind.svg" alt="Wind" />
                            </noscript>
                            <div>{dot.wind}</div>
                            <p>Wind (KTS)</p>
                        </div>
                    </div>
                </div>
            </div>
        ))}
        <svg class="map__geo-small">
            <use xlink:href="/surf/icons/icons.svg#geo"></use>
            <title>Current location</title>
        </svg>
    </div>
    <img class="map__coordinates lazyload" data-src="/surf/icons/coordinates.svg" alt="geo">
    <noscript>
        <img class="map__coordinates" src="/surf/icons/coordinates.svg" alt="geo">
    </noscript>
</div>
<script>
    import { initializeMapSwiperSync } from '../../js/surf/mapSwiperSync';

    window.addEventListener('load', () => {
        initializeMapSwiperSync();
    });
</script>
<style lang="scss">
    .map {
        position: relative;
        max-width: 1419px;
        margin: 0 auto 111px auto;
        padding: 0 80px;
        @media (max-width: 1300px){
            padding: 0 40px;
        }
        @media (max-width: 1259px){
            padding: 0;
        }
        &__content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1259px;
        }
        &__dot-box {
            position: absolute;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: -25px;
                left: calc(100% - 65px);
                height: 25px;
                width: 100px;
            }
            @media (max-width: 1480px){
                &.child1 {
                    .map__dot-content {
                        left: 0;
                    }
                }
                &.child8 {
                    .map__dot-content {
                        left: auto;
                        right: 0;
                    }
                }
            }
            @media (max-width: 768px){
                &::before {
                    top: -17px;
                    left: 0;
                    height: 17px;
                    width: 17px;
                }
            }
            @media (max-width: 480px){
                width: 1px;
                height: 14px;
            }
        }
        &__dot {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--accentColor);
            box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.84);
            transition: all .3s ease;
            cursor: pointer;
            &._active {
                box-shadow: 0px 0px 20px rgba(74, 246, 205, 0.84);
                transform: rotate(45deg);
                border-radius: 0 50% 50% 50%;
            }
            @media (max-width: 768px){
                width: 17px;
                height: 17px;
                box-shadow: 0px 0px 25px rgba(74, 246, 205, 0.84);
                &._active {
                    box-shadow: 0px 0px 15px rgba(74, 246, 205, 0.84);
                }
            }
            @media (max-width: 480px){
                width: 14px;
                height: 14px;
            }
        }
        &__dot-content {
            position: absolute;
            top: -231px;
            left: calc(100% - 283px / 2);
            z-index: 10;
            display: none;
            flex-direction: column;
            gap: 30px;
            width: 283px;
            height: 216px;
            padding: 30px;
            background-color: rgba(15, 16, 16, 0.7);
            border-radius: 6px;
            opacity: 0;
            transition: all .5s ease;
            &._active {
                display: flex;
            }
            &._visible {
                opacity: 1;
            }
            @media (max-width: 768px){
                top: -182px;
                left: calc(100% - 230px / 2);
                width: 230px;
                height: 162px;
                padding: 20px;
            }
            @media (max-width: 480px){
                &._active {
                    display: none;
                }
            }
        }
        &__info {
            display: flex;
            justify-content: space-between;
            color: inherit;
            button {
                width: 17px;
                height: 14px;
                svg {
                    width: 17px;
                    height: 14px;
                    fill: var(--whiteColor);
                    transition: all .3s ease;
                }
            }
            &:hover {
                button {
                    svg {
                        fill: var(--accentColor);
                    }
                }
            }
        }
        &__info-title {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
                font-size: 18px;
                line-height: 26px;
                font-weight: 800;
                text-transform: uppercase;
            }
            span {
                width: 80px;
                height: 1px;
                background-color: var(--accentColor);
            }
            div {
                font-size: 16px;
                line-height: 19px;
            }
            @media (max-width: 768px){
                p {
                    font-size: 14px;
                    line-height: 13px;
                }
                span {
                    width: 56px;
                }
                div {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
        &__weather-box {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            @media (max-width: 768px){
                gap: 40px;
            }
        }
        &__weather-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            img {
                height: 23.81px;
            }
            div {
                font-size: 16px;
                line-height: 23px;
                font-weight: 800;
            }
            p {
                font-size: 10px;
                line-height: 12px;
                font-weight: 300;
            }
            @media (max-width: 768px){
                flex-shrink: 0;
                img {
                    height: 16.6px;
                }
                div {
                    font-size: 12px;
                    line-height: 16px;
                }
                p {
                    font-size: 8px;
                    line-height: 10px;
                }
            }
        }
        &__geo-small {
            position: absolute;
            top: 42.5%;
            left: 15.5%;
            width: 15px;
            height: 18px;
            fill: var(--whiteColor);
            opacity: .3;
        }
        &__coordinates {
            position: absolute;
            top: 50%;
            right: 80px;
            transform: translateY(-50%);
            @media (max-width: 1300px){
                display: none;
            }
        }
    }
</style>