---
import PorfolioItem from './PortfolioItem.astro';
import LightShop from './LightShop.astro';

import { getPortfolioItems } from '../../utils/portfolio';
const portfolioItems = await getPortfolioItems();

const tag = ['Портфолио', '/main/icons/icons.svg#portfolio'];
// const porttfolioItems = [
//     {
//         id: 'vrnas',
//         title: 'VRNas',
//         subtitle: 'Тренировочная вёрстка landing-page на скорость',
//         mainImage: mainImageVr,
//         url: '/vr',
//         tasks: ['Описание задачи может быть средней длины', 'А может быть и длиннее. Главное протестировать все возможные варианты поведения всех блоков на странице', 'Описание задачи может быть средней длины'],
//         tools: ['/mian/images/stack/html.svg', '/mian/images/stack/css.svg', '/mian/images/stack/js.svg'],
//         skills: ['Описание задачи может быть средней длины', 'А может быть и длиннее. Главное протестировать все возможные варианты поведения всех блоков на странице', 'Описание задачи может быть средней длины'],
//         about: 'Главное протестировать все возможные варианты поведения всех блоков на странице',
//         gallery: ['../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg'],
//         tags: ['Верстка', 'Astro', 'HTML', 'CSS', 'JS'],
//         additionTag: 'В разработке'
//     },
//     {
//         id: 'surf',
//         title: 'GOSurf',
//         subtitle: 'Тренировочная вёрстка landing-page на скорость',
//         mainImage: mainImageSurf,
//         url: '/vr',
//         tasks: ['Описание задачи может быть средней длины', 'А может быть и длиннее. Главное протестировать все возможные варианты поведения всех блоков на странице', 'Описание задачи может быть средней длины'],
//         tools: ['/mian/images/stack/html.svg', '/mian/images/stack/css.svg', '/mian/images/stack/js.svg'],
//         skills: ['Описание задачи может быть средней длины', 'А может быть и длиннее. Главное протестировать все возможные варианты поведения всех блоков на странице', 'Описание задачи может быть средней длины'],
//         about: 'Главное протестировать все возможные варианты поведения всех блоков на странице',
//         gallery: ['../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg', '../../images/main/portfolio/vr/vr_main.jpg'],
//         tags: ['Верстка', 'Astro', 'HTML', 'CSS', 'JS']
//     },
// ];
---

<section class="portfolio section" id="portfolio">
    <div class="_container">
        <div class="portfolio__content">
            <div class="portfolio__text title-content">
                <div class="badge _scr-item _fade-up" data-duration=".3s">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h2 class="_scr-item _fade-up">Это мои
недавние работы</h2>
            </div>
            <div class="portfolio__items" data-lightshop>
                {
                    portfolioItems.map((item) => (
                        <PorfolioItem
                            id={item.id}
                            title={item.title}
                            subtitle={item.subtitle}
                            mainImage={item.imageUrl}
                            tags={item.tags}
                            additionTag={item.additionTag}
                        />
                    ))
                }
            </div>
            <LightShop />
        </div>
    </div>
</section>

<style lang="scss">
    @import '../../styles/assets/vars';

    .portfolio {
		// .portfolio__content
		&__content {
		}
		// .portfolio__text
		&__text {
		}
		// .portfolio__items
		&__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            @media (max-width:$md3+px){
                gap: 1.5rem;
            }
            @media (max-width:$md4+px){
                grid-template-columns: 1fr;
                gap: 3rem;
            }
		}
    }

</style>