---
const tag = ['Stack', '/main/icons/icons.svg#stack'];
const stackList = [
    {
        title: 'HTML5', icon: '/main/images/stack/html.svg'
    },
    {
        title: 'CSS3', icon: '/main/images/stack/css.svg'
    },
    {
        title: 'JavaScript', icon: '/main/images/stack/js.svg'
    },
    {
        title: 'VUE', icon: '/main/images/stack/vue.svg'
    },
    {
        title: 'Directus', icon: '/main/images/stack/directus.svg'
    },
    {
        title: 'October CMS', icon: '/main/images/stack/october.svg'
    },
    {
        title: 'Astro', icon: '/main/images/stack/astro.svg'
    },
    {
        title: 'GIT', icon: '/main/images/stack/git.svg'
    },
    {
        title: 'GULP', icon: '/main/images/stack/gulp.svg'
    },
    {
        title: 'WEBPACK', icon: '/main/images/stack/webpack.svg'
    },
    {
        title: 'Vite', icon: '/main/images/stack/vite.svg'
    },
    {
        title: 'WebFlow', icon: '/main/images/stack/webflow.svg'
    },
    {
        title: 'Figma', icon: '/main/images/stack/figma.svg'
    },
    {
        title: 'Photoshop', icon: '/main/images/stack/photoshop.svg'
    },
    {
        title: 'Illustrator', icon: '/main/images/stack/illustrator.svg'
    },
];
---

<section class="stack section" id="stack">
    <div class="_container">
        <div class="stack__content">
            <div class="stack__text title-content">
                <div class="stack__badge badge">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h2>Инструменты
и технологии</h2>
            </div>
            <div class="stack__list">
                {
                    stackList.map(item => (
                        <div class="stack__item">
                            <img class="lazyload" data-src={item.icon} alt={item.title} title={item.title} />
                            <noscript>
                                <img src={item.icon} alt={item.title} title={item.title} />
                            </noscript>
                            <p>{item.title}</p>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @import '../../styles/assets/vars';

    .stack {
		// .stack__content
		&__content {
		}
		// .stack__text
		&__text {
		}
		// .stack__badge
		&__badge {
		}
		// .stack__list
		&__list {
            position: relative;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;
            @media (max-width:$md1+px){
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width:$md3+px){
                gap: 1rem;
            }
            @media (max-width:$md4+px){
                grid-template-columns: repeat(2, 1fr);
            }
		}
		// .stack__item
		&__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            padding: 2rem;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            background-color: var(--bgColor1);
            border: 1px solid var(--borderColor);
            border-radius: 2rem;
            img {
                height: 5rem;
            }
            @media (max-width:$md3+px){
                gap: 1rem;
                padding: 1.5rem;
                font-size: 1.6rem;
                line-height: 1.6rem;
                border-radius: 1rem;
                img {
                    height: 4rem;
                }
            }
            @media (max-width:$md4+px){
                padding: 1.2rem;
                font-size: 1.4rem;
                line-height: 1.4rem;
                img {
                    height: 3rem;
                }
            }
		}
    }
</style>