---
import PrimaryBtn from "./PrimaryBtn.astro";

const socialNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

const {
    title,
    icon
} = Astro.props;
---

<div class="btn-contact">
    <PrimaryBtn additionClass='btn-contact__btn' title={title} icon={icon} />
    <ul class="btn-contact__content">
        {
            socialNetworks.map((social) => (
                <li>
                    <a href={social.url} target="_blank">
                        <svg>
                            <use xlink:href={`/main/icons/icons.svg#${social.icon}`}></use>
                            <title>{social.title}</title>
                        </svg>
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const contactButtons = document.querySelectorAll('.btn-contact__btn');
        const contactContents = document.querySelectorAll('.btn-contact__content');

        contactButtons.forEach((contactBtn, index) => {
            const contactContent = contactContents[index];
            
            if (contactBtn && contactContent) {
                contactBtn.addEventListener('click', () => {
                    contactBtn.classList.toggle('_active');
                    contactContent.classList.toggle('_active');
                });

                document.addEventListener('click', (event) => {
                    const isClickInside = contactBtn.contains(event.target) || contactContent.contains(event.target);
                    if (!isClickInside) {
                        contactBtn.classList.remove('_active');
                        contactContent.classList.remove('_active');
                    }
                });
            }
        });
    });
</script>

<style lang="scss">
    .btn-contact {
        position: relative;
        // .btn-contact__content
        &__content {
            position: absolute;
            top: 6rem;
            right: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1.5rem 0;
            opacity: 0;
            transform: translateY(-6.5rem);
            transition: transform .3s ease;
            &._active {
                transform: translateY(0);
                opacity: 1;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                background-color: var(--bgColor1);
                border: 1px solid var(--borderColor);
                border-radius: .8rem;
                transition: all .3s ease;
                @include no-hover-touch {
                    background-color: var(--fontColor1);
                    border-color: var(--fontColor1);
                    svg {
                        fill: var(--bgColor1);
                    }
                }
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--fontColor2);
                    transition: all .3s ease;
                }
                @media (max-width:$md4+px){
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
</style>
