---
import {fetchSEOData} from '../utils/seo'
import Header from '../components/main/Header.astro';

const parentClass = 'header__contacts';
const socialNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

const pageId = 'index';
const { title, description } = await fetchSEOData(pageId);

---
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
        <div class="wrapper">
			<Header parentClass={parentClass} socialNetworks={socialNetworks} />
            <main class="page">
				<h1>{title}</h1>
				<p>{description}</p>
            </main>
        </div>
	</body>
</html>