---
import { fetchSEOData } from '../utils/seo'
import Default from '../layouts/Default.astro'
import Static from '../layouts/Static.astro'
import Header from '../components/main/Header.astro';
import Avatar from '../components/main/Avatar.astro';
import Home from '../components/main/Home.astro';
import Stack from '../components/main/Stack.astro';
import Skills from '../components/main/Skills.astro';

import '../styles/main/style.scss';

const pageId = 'index';
//const { lang, title, description, fonts } = await fetchSEOData(pageId);

const parentClass = 'header__contacts';
const contactNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

---
<script>
	import 'lazysizes';
	import Lenis from 'lenis';
  
	document.addEventListener('DOMContentLoaded', function () {
		// GOTO
		const anchors = document.querySelectorAll('a[href^="#"]');
		let offset;

		function updateOffset() {
			if (window.innerWidth < 991.98) {
				offset = -30;
			} else if (window.innerWidth < 1600) {
				offset = -130;
			} else {
				offset = -160;
			}
		}

		updateOffset();

		anchors.forEach(anchor => {
			anchor.addEventListener('click', (e) => {
				e.preventDefault();

				const targetId = anchor.getAttribute('href');
				const targetElement = document.querySelector(targetId);

				if (targetElement) {
					lenis.scrollTo(targetElement, {
						offset: offset,
						duration: 1.2,
						easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
					});
				}
			});
		});

		// Rotate img + Smooth scroll init
		const rotatingImage = document.querySelector('.rotating-btn__image');
		const blob = document.querySelector('.bg-1');
		const blob2 = document.querySelector('.bg-2');
		const lenis = new Lenis();

		lenis.on('scroll', ({ scroll, limit }) => {
			const rotation = (scroll / limit) * 360;
			const scaleX = 1 + (scroll / limit) * 0.5;
			const scaleY = 1 + (scroll / limit) * 0.3;
			const borderRadiusX = 30 + (scroll / limit) * 50;
  			const borderRadiusY = 30 + (scroll / limit) * 30;

			let blur;
			  if (window.innerWidth < 767.98) {
				blur = 120 - (scroll / limit) * 70;
			} else {
				blur = 150 - (scroll / limit) * 70;
			}

			rotatingImage.style.transform = `rotate(${rotation}deg)`;

			const applyTransformations = (element) => {
				element.style.transform = `rotate(${rotation}deg) scaleX(${scaleX}) scaleY(${scaleY})`;
				element.style.borderRadius = `${borderRadiusX}% ${100 - borderRadiusX}% ${borderRadiusY}% ${100 - borderRadiusY}% / ${borderRadiusY}% ${100 - borderRadiusY}% ${borderRadiusX}% ${100 - borderRadiusX}%`;
				element.style.filter = `blur(${blur}px)`;
    		};

			applyTransformations(blob);
    		applyTransformations(blob2);
		});

		function raf(time) {
			lenis.raf(time);
			requestAnimationFrame(raf);
		}

		requestAnimationFrame(raf);

		window.addEventListener('resize', updateOffset);
	});
</script>

<!-- <Default lang={lang} title={title} description={description} fonts={fonts}> -->
<Static>
	<Header parentClass={parentClass} contactNetworks={contactNetworks} />
	<Avatar parentClass={parentClass} contactNetworks={contactNetworks} />
	<main class="page">
		<Home />
		<Stack />
		<Skills />
	</main>
</Static>
<!-- </Default> -->