---
import { fetchSEOData } from '../utils/seo'
import Default from '../layouts/Default.astro'
import Header from '../components/main/Header.astro';

import '../styles/surf/style.scss';

const pageId = 'index';
const { lang, title, description, fonts } = await fetchSEOData(pageId);

const parentClass = 'header__contacts';
const contactNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

---

<Default lang={lang} title={title} description={description} fonts={fonts}>
	<Header parentClass={parentClass} contactNetworks={contactNetworks} />
	<main class="page">
	</main>
</Default>