---
import { fetchSEOData } from '../utils/seo'
import Default from '../layouts/Default.astro'
import Header from '../components/main/Header.astro';

const parentClass = 'header__contacts';
const socialNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

const pageId = 'index';
const { title, description } = await fetchSEOData(pageId);

---

<Default title={title}>
	<Header parentClass={parentClass} socialNetworks={socialNetworks} />
	<main class="page">
		<h1>{title}</h1>
		<p>{description}</p>
	</main>
</Default>