---
import { fetchSEOData } from '../utils/seo'
import Default from '../layouts/Default.astro'
import Header from '../components/main/Header.astro';

import '../styles/main/style.scss';

const pageId = 'index';
const { lang, title, description, fonts } = await fetchSEOData(pageId);

const parentClass = 'header__contacts';
const contactNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

---

<Default lang={lang} title={title} description={description} fonts={fonts}>
	<Header parentClass={parentClass} contactNetworks={contactNetworks} />
	<main class="page">
	</main>
</Default>

<style lang="scss">
	:root {
        --bgColor1: #111;
        --bgColor2: #161616;
        --fontColor1: #e9e9f1;
        --fontColor2: #c7c6d3;
        --accentColor1: #4e69ff;
        --accentColor2: #435efa;
        --borderColor: #303033;

    }

    html {
        font-size: 10px;
    }

	body {
		color: var(--fontColor1);
		font-size: 2.4rem;
		line-height: 3.2rem;
		font-weight: 400;
		background-color: var(--bgColor1);
	}
</style>