---
import { fetchSEOData } from '../utils/seo'
import Default from '../layouts/Default.astro'
import Static from '../layouts/Static.astro'
import Header from '../components/main/Header.astro';
import Avatar from '../components/main/Avatar.astro';
import Home from '../components/main/Home.astro';
import Stack from '../components/main/Stack.astro';
import Skills from '../components/main/Skills.astro';

import '../styles/main/style.scss';

const pageId = 'index';
//const { lang, title, description, fonts } = await fetchSEOData(pageId);

const parentClass = 'header__contacts';
const contactNetworks = [
	{
		title: 'Telegram', url: 'https://t.me/mfkboy', icon: 'tg'
	},
	{
		title: 'VK', url: 'https://vk.com/mfkboy', icon: 'vk'
	},
];

---
<script>
	import 'lazysizes';
	import Lenis from 'lenis'
  
	document.addEventListener('DOMContentLoaded', function () {
		// GOTO
		const anchors = document.querySelectorAll('a[href^="#"]');
		let offset;

		function updateOffset() {
			if (window.innerWidth < 991.98) {
				offset = -30;
			} else if (window.innerWidth < 1600) {
				offset = -130;
			} else {
				offset = -150;
			}
		}

		updateOffset();

		anchors.forEach(anchor => {
			anchor.addEventListener('click', (e) => {
				e.preventDefault();

				const targetId = anchor.getAttribute('href');
				const targetElement = document.querySelector(targetId);

				if (targetElement) {
					lenis.scrollTo(targetElement, {
						offset: offset,
						duration: 1.2,
						easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
					});
				}
			});
		});

		// Rotate img + Smooth scroll init
		const rotatingImage = document.querySelector('.rotating-btn__image');
		const lenis = new Lenis();

		lenis.on('scroll', ({ scroll, limit }) => {
			const rotation = (scroll / limit) * 360;
			rotatingImage.style.transform = `rotate(${rotation}deg)`;
		});

		function raf(time) {
			lenis.raf(time);
			requestAnimationFrame(raf);
		}

		requestAnimationFrame(raf);

		window.addEventListener('resize', updateOffset);
	});
</script>

<!-- <Default lang={lang} title={title} description={description} fonts={fonts}> -->
<Static>
	<Header parentClass={parentClass} contactNetworks={contactNetworks} />
	<Avatar parentClass={parentClass} contactNetworks={contactNetworks} />
	<main class="page">
		<Home />
		<Stack />
		<Skills />
	</main>
</Static>
<!-- </Default> -->